body {
    background-image: url(/img/man-1.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.item {
    color: black;
    left: 10%;
    top: 80vw;
}